{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a class="navbar-brand d-flex align-items-center" href="{% url "booking:list_rooms" %}">
        <span class="ms-2">Hotel booking</span>
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-1">
        <li class="nav-item ms-4 me-4">
          <a class="nav-link active" aria-current="page" href="{% url 'booking:list_rooms' %}">Каталог номеров</a>
        </li>
        <li class="nav-item ms-4 me-4">
          <a class="nav-link" href="{% url 'booking:list_bookings' %}">Мои бронирования</a>
        </li>
      </ul>

      <div class="navbar-nav">
				{% if request.user.is_authenticated %}
					<form action="{% url 'accounts:logout' %}" method="post" class="d-inline">
  					{% csrf_token %}
  					<button type="submit" class="btn btn-link nav-link">Выйти</button>
					</form>
				{% else %}
				<a class="nav-link" href="{% url "accounts:login" %}">Войти</a>
				{% endif %}
      </div>
    </div>
  </div>
</nav>

